//common style

.button
    color: colorWhite
    background-color colorSpan
    text-decoration: none
    font-size vw(13)
    padding: vw(15) vw(25)
    text-transform: uppercase
    border-radius: 60px
    display: block
    width: vw(150)
    margin: vw(65) auto 0

//breadcrumbs



.mobile
    display: none !important
    @media tablet
        display: block !important

.mobile-flex
    display: none !important
    @media tablet
        display: flex !important

.desktop
    display: block !important
    @media tablet
        display: none !important

.desktop-flex
    display: flex !important
    @media tablet
        display: none !important