//common style


//breadcrumbs



.mobile
    display: none !important
    @media tablet
        display: block !important

.mobile-flex
    display: none !important
    @media tablet
        display: flex !important

.desktop
    display: block !important
    @media tablet
        display: none !important

.desktop-flex
    display: flex !important
    @media tablet
        display: none !important