tablet                      = '(max-width: 991px)';
desktopMacBook              = '(max-width: 1441px)';
desktopMaxWidth1920         = '(max-width: 1919px)';
desktopHighResolution       = '(min-width: 1920px)';
desktopLowResolution        = '(min-width: 992px)';

//fontFamily

RobotoMedium                = "RobotoMedium";
RobotoItalic                = "RobotoItalic";
RobotoMediumItalic          = "RobotoMediumItalic";
RobotoBlack                 = "RobotoBlack";
RobotoRegular               = "RobotoRegular";
RobotoBoldItalic            = "RobotoBoldItalic";
RobotoLightItalic           = "RobotoLightItalic";
RobotoBold                  = "RobotoBold";
RobotoLight                 = "RobotoLight";
RobotoThin                  = "RobotoThin";
RobotoThinItalic            = "RobotoThinItalic";
Rufina                      = "Rufina";
RufinaBold                  = "RufinaBold";

//color

colorWhite                  = #fff
colorBlack                  = #000000
colorFormBg                 = #045b75
// bgColorAllDocument          = #111724
bgColorAllDocument          = #0a101e
colorLine                   = #7aa571
bgColorForm                 = rgba(0, 0, 0, 0.57)
colorMenu                   = #263a41
colorLogo                   = #211833
colorAllDocument            = #555555
colorTitle                  = #1e2528
colorSpan                   = #ff817e

//border

colorBorderBottomMenu       = red
borderInput                 = solid 6px colorBorderInput
borderHeader                = solid 1px rgba(255, 255, 255, 0.25)
borderSocial                = solid 1px rgba(255, 255, 255, 0.25)
borderPagination            = solid 1px colorPink
borderIconClients           = solid 1px rgba(188, 200, 202, 0.15)
borderTableZoomItem         = solid 2px #dddddd

//box-shadow

boxShadowHeader             = 0px 3px 6.96px 1.04px rgba(0, 0, 0, 0.3)

//path

// path = 'images'
path = '../images'